html {
  scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
  background: linear-gradient(135deg, #073254, #00162C, #000000);
  background-attachment: fixed;
  color: #fff;
  font-family:  Geist Mono;
  line-height: 1.5;
}

header {
    background-color: #d9d9d935;
    width: 100%;
    
}

.head-center {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 15px 0;
}

.logo img{
    width: 150px;
    height: auto;
}

.mainMenu {
    display: flex;
    gap: 80px;
    align-items: center;
}
.mainMenu a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: 0.3s ease;
}

.mainMenu a:hover {
    color: #00000078;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 2px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    margin: 12px;
    font-family:  Geist Mono;
}
.boton {
    display: flex;
    background-color: #000000;
    color: white;
    border: none;
    padding: 2px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    margin: 12px;
    font-family:  Geist Mono;
    text-decoration: none;
    align-items: center;
    
}
.boton:hover{
    background-color: #00162C;
}
button:hover {
    background-color:#00162C;

}

.contPrincipal {
    display: flex;
    background-color: #d9d9d929;
    margin: 62px auto 0 auto;
    border-radius: 10px;
    width: 70%;
    height: 620px;
    align-items: flex-end;
}

.textoBanner {
    flex: 1;
    margin: 60px;
    font-size: 30px;
    align-self: center;
}

.textoBanner p {
        padding-top: 20px;
        font-size: 18px;
        padding-bottom: 30px;
    }
.imagBanner {
  flex: 1;
  text-align: right;
}

.imagBanner img {
    width: 600px;
    height: auto;
}

.hero {
    background-color: #000000;
    height: 60px;
    width: 260px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    margin-left: 10px;
}
.hero:hover {
    background-color:#00162C;
    transition: 1s;
}
.section2 {
    padding-bottom: 10px;
    margin: 62px auto 0 auto;
    width: 70%;
    p {
        font-size: 16px;
        font-weight: 300;
    }
}
.section2 h2 {
    font-size: 30px;
    padding-bottom: 5px;
}
.services  {
    display: flex;
    flex-direction: column;
    
    
}

.services-1, .services-2, .services-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d9d9d929;
    margin: 20px auto 0 auto;
    width: 70%;
    border-radius:10px;
    height: 210px;
    padding: 30px 60px;
    font-size: 20px;
    gap: 40px;
    h2 {
        font-weight: 500;
    }
    p {
        font-size: 15px;
        padding-top: 20px;
    }
}

.herramientas {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 40px auto;
    gap: 30px;
}

.tarjeta {
    background-color: #d9d9d929;
    border-radius: 10px;
    width: 30%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 30px 20px;
    
}.tarjeta img {
    margin-top: 40px;
    width: 180px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 20px;
}

.tarjeta h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.tarjeta p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
}

.proximamente {
    margin-top: 60px;
    background-color: #000000;
    color: #fff;
    padding: 5px 15px;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
}


/* FOOTER */
footer {
    background-color: #d9d9d918; 
    padding: 40px 0 20px 0; 
    margin-top: 70px;
}

.footer-contenido {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 55px; 
}

.footer-columna h4 {
    font-size: 20px;
    font-weight: 700; 
    margin-bottom: 20px;
}

.footer-branding p {
    font-size: 15px;
    line-height: 1.5;
}

.footer-logo img {
    max-width: 120px;
}

.footer-nav {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 20px;
}

.footer-nav a, .footer-contacto p, .footer-contacto a {
    color: #b0b0b0; 
    text-decoration: none; 
    font-size: 15px;
    transition: color 0.3s;
}

.footer-nav a:hover, .footer-contacto a:hover {
    color: #ffffff;
}



.footer-copyright-contenedor {
    max-width: 1200px;
    margin: 40px auto 0 auto;
    padding: 0 20px;
}

 hr {
    border: none;
    height: 1px;
    background-color: #ffffff; 
    margin: 20px 0;
}

.footer-copyright {
    text-align: center;
    font-size: 14px;
}



@media (max-width: 1024px) {
    .footer-contenido {
        grid-template-columns: repeat(3, 1fr); 
    }    
}


@media (max-width: 768px) {
    .footer-contenido {
        grid-template-columns: 1fr; 
        gap: 30px;
        text-align: start;
        justify-items: left;
        padding-left: 100px;
    }
}

.formulario {
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

.texto-central h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.texto-central p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #dcdcdc;
}

.contenedor-form {
    background-color: #d9d9d929;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

form textarea {
    resize: none;
    overflow-y: auto;
    

}
form input,
form select,
form textarea {
    background-color: #ffffff15;
    border: 1px solid #ffffff33;
    border-radius: 10px;
    padding: 12px 15px;
    color: #fff;
    font-family: "geist mono";
    font-size: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 25px;
}

form input::placeholder,
form textarea::placeholder {
    color: #b0b0b0;
}

.form select {
    color: #b0b0b0;
    cursor: pointer;
}

form select option {
    color: #000000;
}

.btn-enviar {
    background-color: #000000;
    border: none;
    padding: 20px 50px;
    font-size: 16px;
    margin-top: 20px;
}
@media (max-width: 768px) {
  .contenedor-form {
    width: 85%;
    padding: 30px 20px;
  }

  .texto-central h1 {
    font-size: 26px;
  }
}